.new-features {
   background-size: cover;
   width: 100%;
   height: 90vh;
   align-items: center;
   text-align: center;
   justify-content: center;
   object-fit: fill;

   &__carousel-caption {
      color: white;
   }

   &__background {
      width: 100%;
      height: 91vh;
   }

   &__text-line {
      margin-left: 27%;
      text-align: left;
      color: black;
      line-height: 0.87rem;
      font-size: 0.87rem;
   }

   .text-line {
      text-align: left;
      color: black;
      margin-left: 35%;
   }

}

.alanBtn-root {
   z-index: 1;
}