.sub-layout{
     background-color: rgb(246, 243, 243);
     padding-left: 1.5px;
     padding-top: 4px;
     padding-right: 1.5px;
     padding-bottom: 3px;
     border: 1px transparent gray;
     border-radius: 16px;
}