.pagenotfound{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;

   &__title{
      margin-top: 3%;
      margin: 2%;
      text-align: center;
   }
   &__text {
      margin-bottom: 2%;
      text-align: center;
   }
   &__link {
      text-align: center;
   }
}