.app-layout{
   margin: 0;
   padding: 0;
   border: 1px solid transparent;
   background-color: transparent;

   &__temperature {
      font-size: 2.5rem;
      margin: 0;
      padding: 0;
   }
   .atmospheric-conditions {
      font-size: 0.9rem;
   }
   &__recommendation {
      font-size: 0.9rem;
      font-family: "Montserrat, sans-serif";
      text-align: center;
      margin: 0;
      padding: 0;
   }
}