// Import in partials to reuse code later
@import "./partials/functions";
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/fonts";
//@import "~bootstrap/scss/bootstrap";
//@import "../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/bootstrap/scss/bootstrap.scss';


  // Setup of margins and padding 0 and call font family once
body {
    //font-family: "Avenir";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  };
  h1, h2, h3, h4, h5, p, ul, li, a {
    padding: 0;
  };
// Changing placeholder from gray to black to match mockup designs
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }